@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

* {
    font-family: 'Raleway', sans-serif;
    color: #000 !important;
}

.status {
    color: #fff !important;
}

.btn.btn-secondary {
    color: #fff !important;
}

.wrap {
    min-height: 100%;
}

.navbar-dark .navbar-toggler {
    border: none;
    outline: none !important;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-dark .navbar-toggler-icon:hover {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0,0,0)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar {
    background-color: #ccc !important;
    color: red;
}

.footer {
    border-top: none;
    color: white !important;
}

.normal-link,
[data-theme="dark"] .normal-link {
    color: #007bff !important;
}

.krajee-datepicker {
    padding-left: 10px !important;
}

.share-buttons i:not(.fa-heart) {
    color: #fff !important;
}

.fa-heart {
    color: red !important;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    z-index: 1;
}

/* Track */
::-webkit-scrollbar-track {
    background: #181818;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #4b4b4b;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}

.main-yellow {
    background-color: #ffba00
}

.admin-table thead {
    background-color: #ccc;
}

.admin-table a,
.action-column,
.breadcrumb a {
    color: #ffbb00;
}

.admin-table tbody {
    background-color: #eee;
}

.admin-table th {
    color: #ffba00;
}


.nav-pills .nav-item .active {
    border: 1px solid #ffba00;
    background-color: #ffba00;
    color: #000 !important;
}

.nav-pills .nav-item:hover {
    background-color: #ffbb0091;
    border-radius: 0.25rem;
}

.custom-control-input:checked~.custom-control-label::before {
    background-color: #ffbb00;
    border: none;
}

.custom-control-input.is-valid:checked~.custom-control-label::before {
    background-color: #ffbb00 !important;
    color: red !important;
}

.custom-control-input.is-valid~.custom-control-label {
    border: none;
}

@media (min-width: 992px) {
    .site-login {
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .user-info {
        position: fixed;
    }

    .custom-overflow {
        overflow: auto;
    }
}

.px-15 {
    padding-right: 15px !important;
    padding-left: 15px !important;
}

#register-form fieldset,
#login-form {
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    background: #eee;
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;

    /*stacking fieldsets above each other*/
    position: relative;
}

#register-form fieldset:not(:first-of-type) {
    display: none;
}

.fs-title {
    font-size: 18px;
    text-transform: uppercase;
    color: #ffba00 !important;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: bold;
}

.custom-file-label::after {
    color: black;
    background-color: #ffba00;
}



.h1-error {
    font-size: 150px;
    font-weight: 900;
}

.site-error {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.modal-header {
    border-bottom: none;
    border-radius: 0%;
}

.modal-body {
    background-color: #eee;
}

.dots-menu {
    background-color: transparent;
    border: none;
    outline: none !important;
}

.user-search-img {
    border-radius: 100%;
}

.small-artist {
    text-transform: uppercase;
    letter-spacing: 5px;
}

.perfil-link:hover {
    text-decoration: none;
    opacity: 0.5;
}

.outline-transparent {
    background-color: transparent;
    border: none;
    outline: none !important;
    color: white;
}

.custom-overflow {
    max-height: 600px;
    height: 600px;
    overflow-y: auto;
    word-break: break-all;
}

.like-btn {
    font-size: 23px;
}


/* HOVER ANIMATION */

.song-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.action-btn {
    width: 50px;
    height: 50px;
    background: transparent;
    text-align: center;
    padding-top: 8px;
    box-sizing: border-box;
}

.action-btn .fas,
.action-btn .far {
    font-size: 35px;
    color: #fff;
}

.box-3 {
    background-color: #2ec0f9;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    box-shadow: 6px 5px 30px -4px rgba(0, 0, 0, 0.55);
}

.box-3:hover .share-buttons {
    opacity: 1;
}

.box-3 .share-buttons {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    opacity: 0;
    justify-content: space-around;
    align-items: center;
    transition: 0.4s;
    z-index: 10;
}

.box-3 .action-btn {
    display: inline-block;
}

.green-audio-player {
    background-color: #eee;
}

.full-player {
    background-color: #eee;
    height: 60px;
}

.img-edit {
    cursor: pointer;
    position: relative;
}

.edit-image-icon-image {
    border-radius: 100%;
    background-color: #ffba00;
    padding: 5px;
    color: #000;
    position: absolute;
    bottom: 3%;
    right: 10%;
}

.edit-image-icon-banner {
    border-radius: 100%;
    background-color: #ffba00;
    padding: 5px;
    color: #000;
    position: absolute;
    bottom: -5%;
    right: -1%;
}

.action-btn {
    transition: all .3s ease;
}

.action-btn:hover {
    transform: scale(1.5);
}

.action-btn:active {
    transform: scale(0.98);
}

input,
select,
textarea {
    background-color: transparent !important;
    border: 0 !important;
    border-bottom: 2px solid #9b9b9b !important;
    outline: none !important;
    border-radius: 0% !important;
    padding: 0 !important;
}

.comment-time {
    color: lightslategray;
    font-size: 11px;
}

.site-admin-index i {
    font-size: 100px;
}

.logo {
    width: 300px;
}

.fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

.fall-animation {
    transition: all .3s ease;
}

.navbar-logo {
    width: 40px;
}

.form-control:focus {
    box-shadow: none !important;
}

.message {
    border-radius: 5px;
    color: black !important;
    padding: 7px;
}

.messages-number {
    color: #000 !important;
}

.other-message {
    background-color: #ffd86d;
}

.my-message {
    background-color: #ffba00;
}

.toast-header {
    background-color: #ffba00;
    border-bottom: none;
}

.toast-body {
    background-color: #eee;
}

.read-message,
[data-theme="dark"] .read-message {
    color: blue !important;
}

/* Dark mode */

[data-theme="dark"] * {
    color: #fff !important;
}

[data-theme="dark"] .navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

[data-theme="dark"] {
    background-color: #181818 !important;
}

[data-theme="dark"] .navbar-dark .navbar-toggler-icon:hover {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255,186,0)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}


[data-theme="dark"] .navbar,
[data-theme="dark"] .footer {
    background-color: #202020 !important;
}

[data-theme="dark"] .nav-link {
    color: rgba(255, 255, 255, 0.5) !important;
}

[data-theme="dark"] th,
[data-theme="dark"] th a {
    color: #ffba00 !important;
}

[data-theme="dark"] .btn {
    color: #000 !important;
}

[data-theme="dark"] .breadcrumb {
    background-color: #383838;
}


[data-theme="dark"] label {
    color: #9b9b9b !important;
}

[data-theme="dark"] .admin-table thead {
    background-color: #181818;
}

[data-theme="dark"] .admin-table a,
[data-theme="dark"] .action-column,
[data-theme="dark"] .breadcrumb a {
    color: #ffbb00;
}

[data-theme="dark"] .admin-table tbody {
    background-color: #383838;
}

[data-theme="dark"] .admin-table th {
    color: #ffba00;
}

[data-theme="dark"] #register-form fieldset,
[data-theme="dark"] #login-form {
    background: #343434;
}

[data-theme="dark"] .dropdown-menu,
[data-theme="dark"] .dropdown-item.active {
    background-color: #4A4A4A;
}

[data-theme="dark"] .dropdown-item:hover {
    background-color: #181818;
}

[data-theme="dark"] .bootstrap-dialog-title {
    color: #000 !important;
}

[data-theme="dark"] .modal-header {
    background-color: #202020;
}

[data-theme="dark"] .modal-body {
    background-color: #181818;
}

[data-theme="dark"] .full-player {
    background-color: #1a1a1a;
    height: 60px;
}

[data-theme="dark"] .green-audio-player {
    background-color: #1A1A1A;
}

[data-theme="dark"] .toast-body {
    background-color: #202020;
}

[data-theme="dark"] .message {
    color: #000 !important;
}

[data-theme="dark"] .message,
[data-theme="dark"] .message small{
    color: #000 !important;
}

[data-theme="dark"] .edit-image-icon-image {
    color: #000 !important;
}

[data-theme="dark"] .edit-image-icon-banner {
    color: #000 !important;
}

[data-theme="dark"] .kv-dp-icon {
    color: #000 !important;
}

[data-theme="dark"] .alert{
    color: #000 !important;
}

[data-theme="dark"] .alert span{
    color: #000 !important;
}