@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

* {
    font-family: 'Raleway', sans-serif;
}

.navbar,
.footer {
    background-color: #202020 !important;
}

body {
    background-color: #181818;
}

.footer {
    border-top: none;
    color: white !important;
}

.breadcrumb {
    background-color: #383838;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    z-index: 1;
}

/* Track */
::-webkit-scrollbar-track {
    background: #181818;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #4b4b4b;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}

.main-yellow {
    background-color: #ffba00
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
.summary,
.admin-table td,
.dropdown-item,
.form-control-file,
.bootstrap-dialog-message,
.nav-pills .nav-item .nav-link,
.small-artist,
.dots-menu,
.dropdown-item:hover,
.custom-control-input.is-valid~.custom-control-label,
input,
.site-admin-index i {
    color: white !important;
}

label {
    color: #9b9b9b;
}

.admin-table thead {
    background-color: #181818;
}

.admin-table a,
.action-column,
.breadcrumb a {
    color: #ffbb00;
}

.admin-table tbody {
    background-color: #383838;
}

.nav-pills .nav-item .active {
    border: 1px solid #ffba00;
    background-color: #ffba00;
    color: #000;
}

.nav-pills .nav-item:hover {
    background-color: #ffbb0091;
    border-radius: 0.25rem;
}

.custom-control-input:checked~.custom-control-label::before {
    background-color: #ffbb00;
    border: none;
}

.custom-control-input.is-valid:checked~.custom-control-label::before {
    background-color: #ffbb00 !important;
    color: red !important;
}

.custom-control-input.is-valid~.custom-control-label {
    border: none;
}

@media (min-width: 992px) {
    .site-login {
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .user-info {
        position: fixed;
    }

    .custom-overflow {
        overflow: auto;
    }
}

.px-15 {
    padding-right: 15px !important;
    padding-left: 15px !important;
}

#register-form fieldset,
#login-form {
    background: #343434;
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;

    /*stacking fieldsets above each other*/
    position: relative;
}

#register-form fieldset:not(:first-of-type) {
    display: none;
}

.fs-title {
    font-size: 18px;
    text-transform: uppercase;
    color: #ffba00;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: bold;
}

.custom-file-label::after {
    color: black;
    background-color: #ffba00;
}

.dropdown-menu,
.dropdown-item.active {
    background-color: #4A4A4A;
}

.dropdown-item:hover {
    background-color: #181818;
}

.admin-table th {
    color: #ffba00;
}

.h1-error {
    font-size: 150px;
    font-weight: 900;
}

.site-error {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.modal-header {
    background-color: #202020;
    border-bottom: none;
    border-radius: 0%;
}

.modal-body {
    background-color: #181818;
}

.dots-menu {
    background-color: transparent;
    border: none;
    outline: none !important;
}

.user-search-img {
    border-radius: 100%;
}

.small-artist {
    text-transform: uppercase;
    letter-spacing: 5px;
}

.perfil-link:hover {
    text-decoration: none;
    opacity: 0.5;
}

.filepond--panel-root {
    background-color: #383838;
}

.outline-transparent {
    background-color: transparent;
    border: none;
    outline: none !important;
    color: white;
}

.bootstrap-dialog-title {
    color: #000 !important;
}

.custom-overflow {
    max-height: 600px;
    height: 600px;
    overflow-y: auto;
    word-break: break-all;
}

.like-btn {
    font-size: 23px;
}


/* HOVER ANIMATION */

.song-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.action-btn {
    width: 50px;
    height: 50px;
    background: transparent;
    text-align: center;
    padding-top: 8px;
    box-sizing: border-box;
}

.action-btn .fas,
.action-btn .far {
    font-size: 35px;
    color: #fff;
}

.box-3 {
    background-color: #2ec0f9;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    box-shadow: 6px 5px 30px -4px rgba(0, 0, 0, 0.55);
}

.box-3:hover .share-buttons {
    opacity: 1;
}

.box-3 .share-buttons {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    opacity: 0;
    justify-content: space-around;
    align-items: center;
    transition: 0.4s;
    z-index: 10;
}

.box-3 .action-btn {
    display: inline-block;
}

.full-player {
    background-color: #1a1a1a;
    height: 60px;
}

.img-edit {
    cursor: pointer;
    position: relative;
}

.edit-image-icon {
    border-radius: 100%;
    background-color: #ffba00;
    padding: 5px;
    color: #000;
    position: absolute;
    bottom: 3%;
    right: 10%;
}

input, select {
    background-color: transparent !important;
    border: 0 !important;
    border-bottom: 2px solid #9b9b9b !important;
    outline: none !important;
    border-radius: 0% !important;
    padding: 0 !important;
}

.comment-time {
    color: lightslategray;
    font-size: 11px;
}

.site-admin-index i {
    font-size: 100px;
}

.logo {
    width: 300px;
}

.navbar-logo {
    width: 40px;
}

.form-control:focus {
    box-shadow: none !important;
}

.message {
    border-radius: 5px;
    color: black !important;
    padding: 7px;
}

.other-message {
    background-color: #ffd86d;
}
.my-message {
    background-color: #ffba00;
}